body{
    font-family: 'Gill Sans', sans-serif;
    background-color: rgb(14, 14, 14);
    /* overflow: hidden; */
    margin: 0;
}
.menu{
    /* box-sizing: border-box; */
    display:flex ;
    justify-content: space-between;
    background-color: rgb(44, 38, 38);
}

.shapka{
    background-color: rgb(44, 38, 38);
    font-size: 40px;
    color: rgb(150,150, 150);
    padding: 15px;
    /* display:flex ;
    justify-content: space-between; */
}

.shapka a {
text-decoration: none;
color: rgb(150,150, 150);
}
.polis{
    margin-top: 10%;
    color: rgb(150,150, 150);
}
.panel{
    position: relative;
    margin: -30px 200px 50px 200px;
    padding: 10px 90px 300px  90px;
    border-radius: 20px;
    z-index: 1;
    backdrop-filter: blur(30px)
}
.username{
    font-size: 40px;
}
.time{
    font-size: 30px;
    color: #dedede;
}
.pictur img{
    border-radius: 10px;
}
.pictur{
    z-index: 2;
    position: relative;
}
.fon{
    position: absolute;
}
.fon2{
    position: absolute;
    background-color: #191919;
    margin-top: -20%;
}
.fon img{
    background-size: cover;
}

.tour{
    margin-left: 15%;
    color: rgb(150,150, 150);
    font-size: 160%;
    margin-right: 15%;
    
}
form {
        background: rgb(44, 38, 38);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
        label {
        display: block;
        margin: 10px 0 5px;
}
        input, select {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border-radius: 4px;
        border: 1px solid #ccc;
}
        button {
        background-color: #28a745;
        color: rgb(14, 14, 14);
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}
        button:hover {
        background-color: #218838;
}