

body{
    background-color: rgb(14, 14, 14);
    margin: 0;
    color: rgb(150,150, 150);
    font-family: 'Gill Sans', sans-serif;
}
.connection{
    background-color: rgb(44, 38, 38);
    color: rgb(150,150, 150);
    text-align: right;
    padding-right: 1%;
    padding-top: 1%;
}
.connection a {
    color: rgb(150,150, 150);
    margin-right: 2%;
}
.connection p{
    padding-right: 1.1%;
}
.header{
    background-color: rgb(44, 38, 38);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 190%;
    box-sizing: border-box;
    padding: 1%;
    width: 100%;
    position: relative;
}
@media screen and (max-width:1098px){
    .header{
        margin: 0 auto;
    }
} 
.header a{
    text-decoration: none;
    color: rgb(150,150, 150);
    display: block;
    margin-right: 2rem;
}
.headerAbout{
    display: flex;
}
.headerAbout > a:first-child{
    margin-right: 0,5%;
}
.logo img{
    height: 2%;
}
.logo{
    display: flex;
    align-items: center;
}
.headerUser a{
    margin-right: 2rem;

}
.headerUser{
    display: flex;
    margin-right: 2rem;
}


form {
    display: flex;
    justify-content: center;
}
input[type="text"] {
    height: 100% ;
    padding: 1%;
    margin-right: 5%;
    border-radius: 5px;
}
button {
    padding: 2px 10px;
  background-color: rgb(14, 14, 14);
  color: rgb(150,150, 150);
  border-radius: 5px;
  border: none;
}

.HeaderSearch{
    width: 30% ;
    height: 50% ;
    padding-top: 2%;
}



.slider1{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: rgb(41, 41, 41);
}
.slider1s{
    background-color: rgb(41, 41, 41);
    display: flex;
    width: 100%;
    height: 600px;
    color: white;
    transition: .6s;
    transition-timing-function: linear;
}
.sliderChild{
    height: auto;
    min-width: 100%;
    z-index: 1;
}
.sliderChild a {
    position: relative;
    /* overflow: hidden; */
    /* height: 600px; */
    display: flex;
    text-decoration: none;
    color: white;
    cursor: default;
}
.info{
    position: absolute;
    right: 2%;
    top: 4.5%;
    width: 500px;
    height: 400px;
    background: rgb(44, 38, 38);
    border-radius: 10px;
    padding: 2%;
    color: rgb(150,150, 150);
    /* font-size: 33px; */
}
.text{
    font-size: 200%;
}
.estimation{
    font-size: 60%;
    text-align: right;
}

.slider1s:last-child{
    margin-right: 0;
}
.sliderChild img{
    
    height: auto;
    width: 100%;
}
.sliderImg{
    display: block;
    width: 100%;
    overflow: hidden;
}
.sliderP{
    overflow-y: hidden;
    position: relative;
    right: 0;
    top: -1%;
    display: block;
    width: 50%;
    padding: 1.5%;
    padding-right: 20%;
}
.slider10{ position: relative; 
margin-top: 1%;}
.slider10 button{
    position: absolute;
    padding: -2%;
    width: 3%;
    font-size: 1.3em;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgba(58, 58, 58, 0.74);
    color: white;
    text-align: center;
    z-index: 2;
    transition: 0.3s;
}
.slider10 button:hover{ background-color: rgba(58, 58, 58, 0.815); }
.slider10 button:active { background-color: rgba(58, 58, 58, 0.932); }
.slider10 .rightBtn{ right: 0; }

.hello{
    background-color: rgb(44, 38, 38);
    padding: 2%;
    margin-top: 2%;
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 150%;
}
.hello img{
    float: right;
}


.about{
  /* background-color: rgb(40, 40, 40); */
  color: rgb(150,150, 150);
  /* border-radius: 30px; */
  margin: 1% 14%;
  padding:0% 1% 0% 1%;
}
.about img{
  border-radius: 10px;
}
.aboutp1{
  font-size:300%;
}
.aboutp2{
  font-size: 130%;
  display: inline-block;
  width: 45%;
  padding: 2%;
  text-align: justify;
  vertical-align: top;
}
@media screen and (max-width:1000px){
    .about{
        margin: 2% 2%;
    }
    .aboutp2{
        display: block;
        width: 100%;
        margin-right: 4%;
        padding-right: 2%;
    }
}



.tourpanel{
    /* width: 30%;
    height: 40%; */
    background-color: rgb(44, 38, 38);
    /* display: flex; */
    overflow: hidden;
    /* position: relative;  */
    display: inline-block;
    width: 30%;
    height: 60%;
    vertical-align: top;
      /* text-align: justify; */
       border-radius: 7px;
       margin-left: 2%;
}
@media screen and (max-width:832px){
    .tourpanel{
        display: block;
        width: 100%;
        margin-bottom: 2%;
    }
    .tourpanel img{
        /* height: 60%; */
         width: 40%;

    }
}
.tour{
    height: max-content;
}

.tourpanel img {
    overflow: hidden;
    width: 100%;
    height:70%;
}
.nexntour{
    box-sizing: border-box;
}
.tourP{
    font-size: 300%;
    text-align: center;}
#text-1{
    font-size: 200%;
    margin-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
}
#text-2{
    font-size: 150%;
    margin-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;

}
#text-3{
    font-size: 120%;
    margin-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
}
#text-4{
    font-size: 150%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
}
.tourpanel a{
    color: rgb(150,150, 150);
    text-decoration: none;
}
.tourpanel a:hover{
    color: rgb(102, 102, 102)
}

.forms{
    color: white;
    display: block;

}
.forms input{
    display: block;
}
.news{
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 4%;
  padding: 2% 5%;
  background-color:rgb(40, 40, 40); 
  border-radius: 15px;
  box-shadow: 1px 1px 9px 7px rgba(0,0,0,0.31);
-webkit-box-shadow: 1px 1px 9px 7px rgba(0,0,0,0.31);
-moz-box-shadow: 1px 1px 9px 7px rgba(0,0,0,0.31);
    text-align: center;
    /* display: flex; */
    align-items: center;
}
.news input{
  border: none;
  padding: 2% 5%;
  margin: 2%;
  border-radius: 5px;
}


.radio label {
  display: flex;
  position: relative;
  padding-left: 10%;
  cursor: pointer;
    line-height: 1;

}
/* .radio input {
  position: absolute; 
   opacity: 0;
} */
.forms a{
    color: rgb(157, 146, 127);
}
@media screen and (max-width:1100px){
.news{
    margin: 2%;
}
.news p {
    padding-top: 2%;
}
}

.autoriz{
    font-size: 150%;
    color:white;
}
.registration2{
    color: white;
    display: block;

}
.login{
     margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-right: 9%;
  padding: 2% 5%;
  background-color:rgb(40, 40, 40); 
  border-radius: 15px;
  box-shadow: 1px 1px 9px 7px rgba(0,0,0,0.31);
-webkit-box-shadow: 1px 1px 9px 7px rgba(0,0,0,0.31);
-moz-box-shadow: 1px 1px 9px 7px rgba(0,0,0,0.31);
    text-align: center;
    /* display: flex; */
    align-items: center;}
.profil{
  top: 100%;
  margin-top: 3%;
  
}
.login a{
    color: rgb(157, 146, 127);
    font-size: 50%;
}
.login input{
  border: none;
  padding: 2% 4%;
  margin: 2%;
  border-radius: 5px;
  box-sizing: border-box;
}
.registration2 input{
    display: block;
}
.loginAndNews{
    display: flex;
    align-items: center;
    font-size: 190%;
    justify-content: space-between;
}

/* body{
    background-color: rgb(103, 83, 67);
    margin: 0;
    color: rgb(150,150, 150);
    font-family: 'Gill Sans', sans-serif;
}
.connection{
    background-color: rgb(146, 119, 93);
    color: rgb(55,44, 34);
    text-align: right;
    padding-right: 1%;
    padding-top: 2px;
}
.connection a {
    color: rgb(55,44, 34);
    margin-right: 1rem;
}
.connection p{
    padding-right: 1.1%;
}
.header{
    background-color: rgb(146, 119, 93);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 190%;
    padding: 1%;
    height:min-content;
}
.header a{
    text-decoration: none;
    color: rgb(55,44, 34);
}

.headerAbout > a:first-child{
    margin-right: 1rem;
}
.logo img{
    height: 5rem;
    float: left;
}
.logo{
    margin-right: 2rem;
}
.headerUser a{
    margin-right: 2rem; */

/* }


form {
    display: flex;
    justify-content: center;
    margin: 20px;
}
input[type="text"] {
    width: 500px;
    height: 50px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
}
button {
    padding: 2px 10px;
  background-color: rgb(103, 83, 67);
  color: rgb(55,44, 34);
  border-radius: 5px;
  border: none;
}





.slider1{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: rgb(103, 83, 67);
}
.slider1s{
    background-color: rgb(103, 83, 67);
    display: flex;
    width: 100%;
    height: 600px;
    color: rgb(55,44, 34);
    transition: .6s;
    transition-timing-function: linear;
}
.sliderChild{
    height: auto;
    min-width: 100%;
    z-index: 1;
} */
/* .sliderChild a {
    position: relative; */
    /* overflow: hidden; */
    /* height: 600px; */
    /* display: flex;
    text-decoration: none;
    color: rgb(55,44, 34);
    cursor: default;
}
.info{
    position: absolute;
    right: 2%;
    top: 4.5%;
    width: 500px;
    height: 400px;
    background: rgb(146, 119, 93);
    border-radius: 10px;
    padding: 2%;
    color: rgb(55,44, 34);
    /* font-size: 33px; */
/* }
.text{
    font-size: 27px;
}
.estimation{
    font-size: 22px;
    text-align: right;
}

.slider1s:last-child{
    margin-right: 0;
}
.sliderChild img{
    
    height: auto;
    width: 100%;
}
.sliderImg{
    display: block;
    width: 100%;
    overflow: hidden;
}
.sliderP{
    overflow-y: hidden;
    position: relative;
    right: 0;
    top: -10px;
    display: block;
    width: 50%;
    padding: 1.5%;
    padding-right: 45px;
}
.slider10{ position: relative; 
margin-top: 1%;}
.slider10 button{
    position: absolute;
    padding: 10px;
    width: 40px;
    font-size: 1.3em;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgb(103, 83, 67);
    color: white;
    text-align: center;
    z-index: 2;
    transition: .3s;
}
.slider10 button:hover{ background-color: rgba(58, 58, 58, 0.815); }
.slider10 button:active { background-color: rgba(58, 58, 58, 0.932); }
.slider10 .rightBtn{ right: 0; }

.hello{
    background-color: rgb(146, 119, 93);
    padding: 2%;
    margin-top: 2%;
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
}
.hello img{
    float: right;
}


.about{
  /* background-color: rgb(40, 40, 40); */
  /* color: rgb(55,44, 34);
  /* border-radius: 30px; */
  /* margin: 5px 200px 5px 200px;
  padding:0px 15px 1px 15px;
}
.about img{
  border-radius: 10px;
}
.aboutp1{
  font-size: 50px;
}
.aboutp2{
  font-size: 20px;
  display: inline-block;
  width: 45%;
  padding: 2%;
  text-align: justify;
  vertical-align: top;
}

.forms{
    color: rgb(55,44, 34);
    display: block;

}
.forms input{
    display: block;
} */ 
/* .news{
  margin: 250px 450px 500px 450px;
  padding: 10px 90px 100px  90px;
  background-color:rgb(40, 40, 40); 
  border-radius: 15px;
  box-shadow: 1px 1px 9px 7px rgba(0,0,0,0.31);
-webkit-box-shadow: 1px 1px 9px 7px rgba(0,0,0,0.31);
-moz-box-shadow: 1px 1px 9px 7px rgba(0,0,0,0.31);
text-align: center;
}
.news input{
  border: none;
  padding: 10px 40px;
  margin: 10px;
  border-radius: 5px;
}


.radio label {
  display: flex;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  line-height: 40px;
}
/* .radio input {
  position: absolute; 
   opacity: 0;
} */

/* .forms a{
    color: rgb(157, 146, 127);
}*/

/* @media screen and (max-width: 900px){
    .slider10{
        display: none;
    }
} */