

body {
       font-family: Arial, sans-serif;
        margin-left:  20%;
        margin-right: 20%;
        background-color:#e0e0e0;
        color:  rgb(29, 29, 29);
        }
.back{
  background-color: #e0e0e0;
    font-size: 40px;
    color: rgb(29, 29, 29);
    padding: 15px;
}
.reg{
  font-size: 40px;
}
select:hover{
  background-color: #e0e0e0;
  color:  rgb(29, 29, 29);
}
select{
  color: rgb(29, 29, 29);
}
option{
  color:  rgb(29, 29, 29);
}
option:hover{
  background-color: #e0e0e0;
  color:  rgb(29, 29, 29);
}
input:hover{
  background-color: #e0e0e0;
}
form {
  background: #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin: 10px 0 5px;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border-color:#222222; 
    border-style: solid;
    background-color:#e0e0e0;
    font-size: 30px;
  }
button {
    background-color: #8ed49e;
    color:  rgb(44, 38, 38);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
button:hover {
    background-color:#e0e0e0;
}
.participant-group {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
.remove-participant {
    background-color: #dc3545;
}
.remove-participant:hover {
    background-color: #c82333;
}
#photo{
    background-color: #e0e0e0;
}